.navbar {
  min-height: 70px;
}

.logo {
  max-height: 40px;
}

.panel-default {
  max-width: 600px;
  margin: 60px auto;
}

.panel-default > .panel-heading {
  background: white;
}

.btn-toolbar {
  margin: 20px 0;
}

#update-dashboard-spinner {
    margin-left: 5px;
    margin-top: 2px;
    display: inline-block;
}

footer {
    padding-top: 60px;
}